<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="student" class="matrix.springapp.Student" scope="prototype" parent="person" init-method="initMethod">
        <property name="id" value="1"></property>
        <property name="name" value="Imran"></property>
        <property name="surname" value="Rasulzade"></property>
    </bean>
    <bean id="person" class="matrix.springapp.Person" scope="singleton">
        <property name="id" value="2"></property>
        <property name="name" value="Fehruz"></property>
        <property name="surname" value="Amirov"></property>
    </bean>
</beans>